*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
    body{
        background-color: rgb(2, 2, 48);
    }
img{
    width: 15vw;
    margin: 20px;
    
    border-width: 50px solid;
    
}
#squid{
    text-align: center;
    
}